html, body{
    height: 100%;
}

table#the-world{
    width: auto;
    height: auto;
}

table#the-world td {
    border: 1px solid white;
    height: 5px;
    width: 5px;
}

td[color="brown"] {
    background-color: brown;
}

td[color="blue"] {
    background-color: blue;
}

td[color="red"] {
    background-color: red;
}

td[color="yellow"] {
    background-color: yellow;
}

td[color="green"] {
    background-color: green;
}

#world-goes-here {
    display: inline-block;
    width: auto;
    float: left;
}

#controls {
    display: inline-block;
    border-left: 2px solid crimson;
    height: 100%
}

#pause {
    margin-left: 2em;
}

.details {
    position: fixed;
    background-color: wheat;
    opacity: 0.7;
}

table#the-world td.highlight {
    border: 1px solid deepskyblue;
}
table#the-world td.tagged {
    border: 1px solid deepskyblue;
}
table#the-world td.temp-highlight {
    border: 1px solid deepskyblue;
}