table#the-world{
    width: 45em;
    height: 45em;
}

td[color="brown"] {
    background-color: brown;
}

td[color="blue"] {
    background-color: blue;
}

td[color="red"] {
    background-color: red;
}

td[color="yellow"] {
    background-color: yellow;
}

td[color="green"] {
    background-color: green;
}

#world-goes-here {
    display: inline-block;
    width: auto;
    float: left;
}

#controls {
}