html, body {
    height: 100%;
}

table#the-world {
    width: auto;
    height: auto;
}

table#the-world td {
    border: 1px solid white;
    height: 5px;
    width: 5px;
}

td[color="brown"] {
    background-color: brown;
}

label[for="Cows-count"]{
    color: brown;
}

td[color="blue"] {
    background-color: blue;
}

label[for="Wolfs-count"]{
    color: blue;
}

td[color="red"] {
    background-color: red;
}

label[for="Civets-count"]{
    color: red;
}

td[color="yellow"] {
    background-color: orange;
}

label[for="PolarBears-count"]{
    color: orange;
}

td[color="green"] {
    background-color: green;
}

label[for="FruitBushs-count"]{
    color: green;
}

#world-goes-here {
    display: inline-block;
    width: auto;
    float: left;
}

#controls {
    display: inline-block;
    border-left: 2px solid crimson;
    height: 100%
}

#pause {
    margin-left: 2em;
}

.details {
    position: fixed;
    background-color: wheat;
    opacity: 0.7;
}

table#the-world td.highlight {
    box-shadow: 0 0 10px 5px #c0c;
}

table#the-world td.tagged {
    box-shadow: 0 0 10px 5px #c0c;
}

table#the-world td.temp-highlight {
    box-shadow: 0 0 10px 5px #c0c;
}